header {
  height: 80px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color:#cb71df;
    img {
      height: 80px;
    }
}

.brand-wrapper {
  width: 50%;
  text-align: center;
}

.main-nav {
  width: 25%;
  ul {
    display: flex;
    list-style: none;
    li {
      padding: 0 10px;
        a {
          text-decoration: none;
          color: black;
        }
    }
  }
}