
.card__title {
  h3 {
    color: $main_color;
    font-size: 2em;
  }
  p {
    text-transform: capitalize ;
    margin: 8px 0;
    font-weight: 700;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }
}
.card {
  display: flex;
  margin-left: 50px;
  width: 50%;
  border-bottom: dotted 1px black ;
  padding-bottom: 30px;
  img {
    width: 250px;
    margin-right: 40px;
  }
  
}

.arrow {
  padding-left: 5px;
  font-size: 14px;
}

/*stile della scheda show del film*/



.movie__card { 
  margin: auto;
  padding: 20px;
    img {
      width: 300px;
      margin-bottom: 30px;
    }
    h2 {
     text-align: center;
     font-size: 30px;
    }
}

.movie__card {
  position: relative;

  a {
    position: absolute;
    top: 20px;
    left: 10px;
    color: black;
    height: 50px;
    width: 50px;
    background-color:$main_color;
    border-radius: 50%;
  }
  .fa-arrow-left {
    font-size: 30px;
    margin: 10px 8px;
  }
}
.movie__poster{
  width: 300px;
  margin: 50px auto;
}


.btn__primary {
  margin-left: 50px;
  margin-right: 10px;
  background-color: $main_color ;
}

.btn__secondary {
  background-color: $main_color;
}